<div class="container">
  <hr>

  <div class="section">
    <div class="mat-headline">Raised Button Color</div>
    <button color="primary" mat-raised-button class="button">Primary</button>
    <button color="accent" mat-raised-button class="button">Accent</button>
    <button color="warn" mat-raised-button class="button">Warn</button>
  </div>

  <div class="section">
    <div class="mat-headline">Button</div>
    <button mat-button color="primary" class="button">button</button>
    <button mat-raised-button class="button">Raised button</button>
    <button mat-flat-button class="button">Flat button</button>
  </div>

  <div class="section">
    <div class="mat-headline">Icon</div>
    <button mat-icon-button class="button">Icon</button>
    <button mat-fab class="button">Fab</button>
    <button mat-mini-fab class="button">Mini</button>
  </div>

  <div class="section">
    <div class="mat-headline">Button Color</div>
    <button color="primary" mat-button class="button">Primary</button>
    <button color="accent" mat-button class="button">Accent</button>
    <button color="warn" disableRipple mat-button class="button">Warn</button>
  </div>

  <hr/>
</div>
