<div class="container">

  <div class="item">
    <span [matBadge]="notifications" [matBadgeHidden]="notifications===0">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgePosition="above after">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgePosition="above before" matBadgeSize="small">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgePosition="below before" matBadgeSize="medium">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgePosition="below after" matBadgeSize="large">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgeColor="primary">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgeColor="accent">Notifications</span>
  </div>

  <div class="item">
    <span matBadge="5" matBadgeColor="warn">Notifications</span>
  </div>

  <hr/>
</div>
