<div class="container">

  <div class="mat-display-4">Typography display 4</div>
  <div class="mat-display-3">Typography display 3</div>
  <div class="mat-display-2">Typography display 2</div>
  <div class="mat-display-1">Typography display 1</div>

  <div class="mat-headline">Heading 1 - h1</div>
  <div class="mat-title">This is Title - h2</div>
  <div class="mat-subheading-2">Sub Heading 2 - h3</div>
  <div class="mat-subheading-1">Sub Heading 1 - h4</div>

  <div class="mat-body-1">Body 1</div>
  <div class="mat-body-2">Body 2</div>
  <div class="mat-caption">Caption</div>

  <div class="mat-typography">
    <h1>Typography h1</h1>
    <h2>Typography h2</h2>
    <h3>Typography h3</h3>
    <h4>Typography h4</h4>
  </div>

  <hr/>
</div>
